$color:#009688;

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

.section {
  text-align: center;
}

/*Home*/

.jumbotron {
  margin-top: -20px;
  height: 300px;
}

.subTitle {
  text-align: center;
}

.section1 {
  height: 500px;
  margin-top: -2.2em;
  padding-top: 50px;
  padding-left: 155px; 
  padding-right: 155px;
}

.textContainer {
  margin-top: 45px;
  padding-left: 85px;
  padding-right: 85px;
}

.connection {
  margin-top: 50px;
  margin-bottom: 35px;
}

.section2 {
  margin-top: 4em;
  padding: 45px;
}

.header-title {
  margin-left: 125px; 
}

.header-highlight {
  color: red;
}
.figure-format {
  width: 100%; 
  border: 1px dotted black; 
}

.diagram-container {
  max-width: 750px; 
  text-align: left;
  margin: 0 auto;
}

/* Section Three */
.section3 {
  padding-left: 125px;
  padding-right: 125px;
}
/* ~~~~~ */
.footer {
  height: 40px;
}

/* Performance */
.popup {
  display: none;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto';
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  z-index: 201;
}

.perfContainer {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  overflow: none;
}

.card {
  height: 750px;
  width: 750px;
  margin: 50px auto;
  text-align: center;
}

.data {
  height: 300px;
  width: 500px;
  border: 1px solid gold;
  margin: 25px auto;
}

/* Contacts */
.icons {
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
}

.profile-img {
  height: 300px; 
  width: 300px;
  border-radius: 50%;
}

.site-logo {
  height: 200px;
  max-width: 345px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.logo-container {
  min-height: 300px;
  max-width: 900px; 
  min-width: 400px;
}


.btn-go {
  height: 50px;
  width: 150px;
}

/* Docs */

.comments {
  color: #a9a9a9;
  text-align: left; 
}

.pDoc {
  text-align: left; 
}

.docContainer {
  max-width: 960px;
  margin: auto; 
}

/* HostChecking */
.hostLabel {
  margin-right: 15px;
}

.hostBTN {
  display: block;
  margin: auto;
}

.host-img {
  width: 30%;
}

/* Performance inputs */
/* BOX LOGIN */
.host-settings-container {
	position: relative;
	margin: auto;
	min-height: 600px;
  top: 40px;
	left: 0;
	z-index: 200;
	right: 0;
	width: 400px;
	color: #666;
	border-radius: 3px;
	background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}

.box h1 {
  margin-left: 40px;
  padding-bottom: 30px;
	font-size: 25px;
  font-weight: 300;
  color: #607d8b;
}

.box button{
	background: #cfd8dc;
	border: 0;
	color: #009688;
	padding: 10px;
	font-size: 16px;
  font-weight: 300;
	width: 330px;
	margin: 20px auto;
	display: block;
	cursor: pointer;
  -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

.box button:active {
	background: #009688;
  color: #263238;
}

.box button:hover {
		background: #009688;
  color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.box p {
	font-size:14px;
	text-align:center;
}

.group, .pw-container { 
  position: relative; 
  margin-bottom: 35px; 
  margin-left: 40px;
}

.selectGroup {
  text-align: center;
}

::-webkit-input-placeholder {
   text-align: left;
   font-size: 18px;
   color : $color;
   font-family: "Roboto";
}

:-moz-placeholder { /* Firefox 18- */
   text-align: left;
   font-size: 18px;
   color : $color;
   font-family: "Roboto";
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: left;
   font-size: 18px;
   color : $color;
   font-family: "Roboto";
}

:-ms-input-placeholder {  
   text-align: left;
   font-size: 18px;
   color : $color;
   font-family: "Roboto";
    
}

.worker-recommendation {
  font-family: "Roboto";
}

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  width: 315px;
  border: none;
  border-bottom: 1px solid #757575;
}

/* removes weird blue hover thing on focus */
.inputMaterial:focus { 
  outline: none;
}


/* BOTTOM BARS ================================= */
.bar 	{
  position: relative;
  display: block;
  width:315px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #009688; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
/* help hover */
.help-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 34px;
}

.pw-container .help-button {
  right: 194px;
}

.instruction-box {
  width: 340px;
  text-align: left;
}

.instruction-title {
  font-weight: bold;
}

/* ANIMATIONS ================ */
@-webkit-keyframes helpEnlarge {
  from { font-size: 24px; }
  to { font-size:30px; }
}
@-moz-keyframes helpEnlarge {
  from { font-size: 24px; }
  to { font-size:30px; }
}
@keyframes helpEnlarge {
 from { font-size: 24px; }
  to { font-size:30px; }
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#footer-box {
  width: 100%;
  height: 50px;
  background: #00695c;
  position: absolute;
  bottom: 0;
}

.footer-text {
  color: #cfd8dc;
  
}

.sign-up {
  color: white;
  cursor: pointer;
}

.sign-up:hover {
   color: #b2dfdb; 
}

.well-demo {
  height: 920px;
}

.img-border {
  border: 1px solid black;
}

/* Pending */
.pending {
  margin-top: 125px;
  margin-left: -30px;
}
.partText {
  margin-top: 30px;
}

/* Success */
.state-box {
	position: relative;
	margin: auto;
	height: 580px;
  top: 40px;
	left: 0;
	z-index: 200;
	right: 0;
	width:800px;
	color:#666;
	border-radius: 3px;
	background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}

.state-header {
  background-color: $color;
  color: white;
  font-family: "Roboto";
  height: 145px;
  margin-top: -20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bc-lb {
  background-color: #6699ff;
}

.client-type {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12pt;
}

.dataContainer {
  margin-top: 25px;
  font-family: "Roboto";
  font-size: 18px;
  display: flex;
  width: 100%;
  height: 100%;
}

.dataType {
  justify-content: flex-start;
  display:inline-block;
  width: 50%;
  p {
    font-weight: bold;
  }
}

.dataValue {
  justify-content: flex-end;
  display: inline-block;
  width: 50%;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 400px;
}

/* Spinner */
  /* Layout Basics */
.spinner {
  margin-top: 50px;
}

.is_loading {
  position: relative;
}

.is_loading:before,
.is_loading:after {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
}

/* Spinner Styling */
.animation:after,
.animation--double:after,
.animation--striped:after,
.animation--dial:after{
  width: 40px; height: 40px;
  margin: -25px 0 0 -25px;
  
  border: 5px solid rgba(0,0,0,.4);
  border-radius: 50px;
}
/* Default Spinner */
.animation:after,
.animation--double:after {
  border-bottom-color: transparent;
  animation: spin 1s infinite linear;
}
/* Reversed second spinner */
.animation--double:before {
  width: 32px; height: 32px;
  margin: -19px 0 0 -19px;
  
  border: 3px solid rgba(0,0,0,.4);
  border-bottom-color: transparent;
  border-radius: 40px;
  
  animation: spin-reverse 1s infinite linear;
}
/* Striped spinner */
.animation--striped:after {
  border-style: dotted;
  animation: spin 3s infinite linear;
}
/* Dial knob spinner */
.animation--dial:before {
  width: 7px; height: 7px;
  margin: 6px 0 0 6px;
  
  background: rgba(0,0,0,.4);
  border-radius: 7px;

  transform-origin: -6px -6px;
  animation: spin 1.5s infinite linear;
}


/*-------------------------------------
** ANIMATIONS
*/
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@keyframes spin-reverse {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-360deg); }
}
/* ~~~~~ */
